.footer{
	padding:20px 15% 0px;
	
	background:#313131;
	height:160px;
	
}
.footer_contacts{
	width:250px;
	
	font-size:16px;
	color:#c0c0c0;
	line-height:50px;
	float:left;
	text-align:center;
	
}
.footer_resources{
margin-left:130px;
	width:500px;
	font-size:16px;
	color:#c0c0c0;
	line-height:50px;
	float:left;
	text-align:center;
	
}

.footer_resources ul li{

	float: right;
	font-size: 12px;
	padding: 0 10px;
	height:35px
}
.footer_resources ul li a:hover{
	
	color:white
}


.footer_contacts .fb_logo, .footer_contacts .email_logo{
	height:40px;
	width:50px;
	overflow:hidden;
	float:left;
	
}
.footer_contacts .email, .footer_contacts .fb{
height:40px;
	font-size:12px;
	color:#c0c0c0;
	line-height:40px;
	float:left;
}
.footer_contacts .fb_logo img, .footer_contacts .email_logo img{
	height:100%;
	width:auto;
}
.line{
	height:2px;
	width:50px;
	margin:0 auto;
	background:#7d5b97
}
.right{
	height:30px;
	text-align:center;
	background:#414141;
	font-size:12px;
	color:#7f7f7f;
	line-height:30px;
	border:none;
	
}



