
	<div class="footer">
			<div class="footer_contacts">
				<p>Contact us</p>
				<div class="line"></div>
				<div>
					<div class="fb_logo"><%= image_tag('facebook.png') %></div>
					<div class="fb"><p><a href="https://www.facebook.com/best.skule/" style="color:#c0c0c0">www.facebook.com/best.skule/</a></p></div>
				</div>
				<div>
					<div class="email_logo"><%= image_tag('email.png') %></div>
					<div class="email"><p class="email">best.skule@gmail.com</p></div>
				</div>
				
			</div>
			
			<div class="footer_resources">
				<p>Academic Resources</p>
				<div class="line"></div>
				<ul>
					
					<li><a href="http://www.undergrad.engineering.utoronto.ca/Programs/Minors_Certificates/Engineering_Minors_Certificates/minors/bioengineering.htm">BioEngineering Minor Program</a></li>
					<li><a href="http://www.undergrad.engineering.utoronto.ca/Programs/Minors_Certificates/Engineering_Minors_Certificates/minors/biomedical_engineering.htm">Biomedical Engineering Minor Program</a></li>
					<li><a href="http://www.ibbme.utoronto.ca/">Institute for Biomaterials and Biomedical Engineering</li>
					
					
				</ul>
				
			</div>
			
	</div>
	<div class="cr">BioEngineering Student Association 2016 | Website Designed and Developed By C. Chen
	 <%unless logged_in? %>
	 | <%= link_to "Log in", login_path %>
	 <%end%>
	</div>
	
